.DS_Store
*.swp
.project
node_modules
.idea/
.vscode/
npm-debug.log
.jshintrc
.vs/
.gitconfig
build
build/
docs/
packages/amazon-sumerian-hosts-babylon/examples/common/demo-credentials.js
**/dist/
