<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="styles/prettify-tomorrow.css"
    />
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css" />

    <style>
      /** Caret/arrow for toggling nested lists */
      .toggle:before {
        display: inline-block;
        width: 8px;
        margin-right: 8px;
        color: #99a7c2;
        font-size: 50%;
        vertical-align: middle;
        margin-bottom: 0.5em;
      }

      .toggle {
        cursor: pointer;
      }

      .toggle.opened:before {
        content: '\25BC';
      }

      .toggle.closed:before {
        content: '\25B6';
      }

      .toggle-reset:before {
        content: '\2B6E';
        color: #99a7c2;
      }

      /* Hide the nested list */
      .nested {
        display: none;
      }

      /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
      .active {
        display: block;
      }

      #main {
        float: right;
      }

      nav {
        float: left;
        border-right: 1px solid #ccc;
        padding-right: 16px;
        border-left: 0px;
      }

      .content .node {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 4px;
        padding-left: 16px;
      }
    </style>
  </head>

  <body>
    <nav>
      <?js= this.nav ?>
    </nav>

    <div id="main">
      <h1 class="page-title"><?js= title ?></h1>

      <?js= content ?>
    </div>

    <br class="clear" />

    <footer></footer>

    <script>
      prettyPrint();
    </script>
    <script src="scripts/linenumber.js"></script>
    <script src="scripts/toggle.js"></script>
  </body>
</html>
